.container-1 {
  display: flex;
  flex-direction: column;
}

.container-1 nav {
  background: #323444;
  padding: 10px 10px;
}

.container-1 .nav-link {
  color: #49ba8e;
  text-decoration: none;
  border: solid 2px #49ba8e;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  font-weight: 900;
}

.container-1 main {
  align-self: center;
  margin-top: 1rem;
}

.container-1 main .card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 80vw;
  padding: 0 2rem;
}

.container-1 main .card p {
  color: #444444;
}

.container-1 .card h3 {
  text-align: center;
}

/* Container 2 styles  */
.container-2 nav {
  background: black;
  color: #55bb8e;
  height: 54px;
  display: flex;
}

.nav-left button {
  border: none;
  color: white;
  padding: 7px 15px;
  margin: 12px 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 10px;
  outline: none;
  cursor: pointer;
}

.green-btn {
  background: #55bb8e;
}

.gray-btn {
  background: #333333;
}

.nav-right {
  margin-left: auto;
}

.nav-right button {
  background: transparent;
  color: #5ac697;
  border: solid 1px #5ac697;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  font-size: 12px;
  margin: 12px 10px;
  font-weight: 600;
}

.fa-times {
  color: #999999;
  font-size: 2rem;
  margin: 10px 10px 10px 10px;
}

.fa-chevron-down {
  margin-left: 30px;
}

.container-2 main {
  border: solid 1px;
  min-height: 1000px;
  background: #1c1c1c;
  padding: 1rem;
}
