/* Movie Grid Related CSS */
.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-template-rows: auto;
  grid-row-gap: 3.5rem;
}

.box {
  margin-top: auto;
  min-width: 225px;
  background: inherit;
  display: flex;
  justify-content: center;
  position: relative;
}

.box-inner {
  width: 175px;
  height: 225px;
  background-size: 100% 100%;
  cursor: pointer;
  position: relative;
  transition: 200ms ease-in-out;
}

.box-inner .fa-play-circle {
  color: white;
  font-weight: 300;
  font-size: 2.5rem;
  opacity: 0.8;
  transition: 200ms ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  /* padding: 25px; */
  transform: translate(-50%, -50%);
}

.fa-play-circle:hover {
  opacity: 1;
  font-size: 3rem;
}

.box-inner .show-date {
  color: white;
  background: #5ac697;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 0.55rem;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.box-inner .ratings {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: 14px;
}

.box-inner .ratings i {
  color: #5ac697;
  font-weight: bold;
  margin-right: 0.4rem;
  font-size: 12px;
}

.box-inner .ratings .votes {
  font-size: 10px;
  display: block;
}

.box-inner .title {
  font-size: 10px;
  color: white;
  position: absolute;
  left: 0px;
  bottom: -1.5rem;
  letter-spacing: 1px;
}

.preview {
  grid-column-start: 1;
  grid-column-end: -1;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: 250ms ease-in;
}

/* rekjhgerofjl */

.preview-container {
  height: 430px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.preview-container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(128, 128, 128, 0.2);
  filter: blur(20px);
  margin: -20px;
}
.trailer {
  width: 55%;
  flex: 1 1 auto;
  min-width: 400px;
}

.trailer iframe {
  width: 100%;
  height: 100%;
}

.meta-data {
  opacity: 0.5;
  margin-left: 30px;
  width: 35%;
  flex: 1 1 auto;
  color: white;
  background: inherit;
  padding-left: 10px;
  position: relative;
}

.meta-data:before {
  content: “ ”;
  background: inherit;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
  filter: blur(10px);
}

.meta-data h3 {
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-weight: 900;
  font-size: 1.25rem;
}

.meta-data .language {
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 0.5rem;
}

.meta-data .badges span {
  border: solid 1px;
  background: inherit;
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 0.5rem;
  margin-right: 0.75rem;
}

.meta-data .ratings {
  margin-top: 1rem;
}

.meta-data .ratings div {
  display: inline-block;
}

.meta-data .ratings .fas {
  font-size: 1.5rem;
  padding-right: 0.7rem;
}

.meta-data .ratings .rating-text {
  line-height: 0.9rem;
  margin-right: 3rem;
}

.meta-data .ratings .muted {
  font-size: 10px;
}

.meta-data .synopsis {
  margin-bottom: 0px;
}

.meta-data a {
  text-decoration: none;
  color: #5ac697;
  font-weight: 600;
}

.meta-data .watch-section {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

.watch-section > div {
  text-align: center;
}

.watch-section .fas {
  border-radius: 50%;
  font-weight: 900;
  font-size: 1rem;
  padding: 0.5rem;
  border: solid 2px;
}

.watch-section .fa-thumbs-down {
  transform: scaleX(-1);
}

.watch-section p {
  margin: 0;
  font-size: 10px;
  text-transform: uppercase;
}

.watch-section .will-watch {
  color: #4ca459;
}
.watch-section .maybe {
  color: #f5a431;
}
.watch-section .wont-watch {
  color: #b24142;
}
