.container-1 {
  display: flex;
  flex-direction: column;
}

.container-1 nav {
  background: #323444;
  padding: 10px 10px;
}

.container-1 .nav-link {
  color: #49ba8e;
  text-decoration: none;
  border: solid 2px #49ba8e;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  font-weight: 900;
}

.container-1 main {
  align-self: center;
  margin-top: 1rem;
}

.container-1 main .card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 80vw;
  padding: 0 2rem;
  margin-bottom: 3rem;
}

.container-1 main .card p {
  color: #444444;
}

.container-1 .card h3 {
  text-align: center;
}

.solution input {
  width: 500px;
  padding: 10px;
  outline: none;
  margin-bottom: 3rem;
}

.solution .error {
  border: solid 1px red;
}

.solution button {
  background: #55bb8e;
  color: white;
  font-size: 1rem;
  padding: 8px 2rem 11px 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  cursor: pointer;
}

.solution div {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #888888;
}
